.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
  text-decoration: none;
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: #000;
}
